<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme._1">

        <!-- 1. ГЛАВНЫЙ ЭКРАН: Вход (Login) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Экран регистрации -->
        <activity android:name=".RegisterActivity" />

        <!-- 3. Главный экран кликера (после входа) -->
        <activity android:name=".MainActivity" />

        <!-- 4. Каталог купонов (SecondActivity) -->
        <activity android:name=".SecondActivity" />

        <!-- 5. Настройки -->
        <activity android:name=".SettingsActivity" />

        <!-- 6. 🛒 НОВЫЙ ЭКРАН: КОРЗИНА (Обязательно добавь эту строку!) -->
        <activity android:name=".CartActivity" />

    </application>

</manifest>